<div class="container">


<h1 id="alumni">Alumni</h1>

<h2 id="overview">Overview</h2>

<p>This program is led by the deputy director, focusing on four components:</p>

<p><strong>Connection.</strong> Alumni-managed networking events and networking groups on social media platforms will connect alumni within states or regions with each other regardless of age or school of graduation.</p>

<p><strong>Mentorship.</strong> Alumni will be presented opportunities to enter into formal one-to-one mentoring relationships with current students as well as to engage with local or alma mater chapters to provide a consistent presence for chapters, which by their nature have transitioning leadership.</p>

<p><strong>Advocacy.</strong> Alumni will be encouraged to participate in actions and events alongside the student network.</p>

<p><strong>Philanthropy.</strong> Through the <a href="http://ssdp.nationbuilder.com/sensible_society">Sensible Society</a>, fundraising asks at events, and focused constituent management, alumni will be developed as donors and empowered to think of themselves as philanthropists from graduation throughout their post-graduation relationships with SSDP.</p>

<h2 id="membership-requirements">Membership requirements</h2>

<p><strong>Definition of SSDP alumnus:</strong> an individual who was involved with SSDP as a student. Unless you are known to SSDP staff, alumni status can be proven with a reference by a known alumni member, a photograph of SSDP activity, or other documentation. An appeals process will be available to those without proof.</p>

<p><strong>Definition of SSDP Alumni Association member:</strong> An SSDP alumnus who signs up through <a href="https://docs.google.com/a/ssdp.org/forms/d/e/1FAIpQLSc91xOTt1uLVJ7iWsZLTBgon-pWFG_5dVUssVSr5AFEgmuo_w/viewform">Alumni Association sign up form on our website</a>, and is a member of the <a href="https://ssdp.nationbuilder.com/alumni_supporter">Sensible Society</a>.</p>

<h2 id="structure">Structure</h2>

<p>The SSDP Alumni Association is comprised of individuals who determine their own activities and levels of involvement. Currently, two officers serve along with the deputy director, and are responsible for helping to manage the direction and priorities of the Alumni Association.</p>

<h2 id="frequently-asked-questions">Frequently Asked Questions</h2>

<p><strong>How do I join the SSDP Alumni Association?</strong> Submit your information via the <a href="https://docs.google.com/a/ssdp.org/forms/d/e/1FAIpQLSc91xOTt1uLVJ7iWsZLTBgon-pWFG_5dVUssVSr5AFEgmuo_w/viewform">Alumni Association sign up form</a>. If you are not currently a member of the Sensible Society (meaning having an active monthly recurring donation of $1 or more), you may fulfill that membership requirement by enrolling <a href="https://ssdp.nationbuilder.com/alumni_supporter">here</a>. Then, an SSDP staff member will review your information and confirm or deny your membership in the Association.</p>

<p><strong>How do I prove that I was involved with SSDP as a student?</strong> Unless you are known to SSDP staff, alumni status can be proven with a reference by a known alumni member, a photograph of SSDP activity, or other documentation. An appeals process will be available to those without proof. If you disagree with the decision to deny your membership, please contact <a href="mailto:stacia@ssdp.org">Stacia Cosner</a>.</p>

<p><strong>Can I join if I was never involved with SSDP as a student?</strong> The short answer is unfortunately no. You can still support our work by joining the <a href="https://ssdp.nationbuilder.com/alumni_supporter">Sensible Society</a> or signing up for our email list. In rare cases, individuals who have shown outstanding dedication to the SSDP network may be granted honorary alumnus status by the deputy or executive directors.</p>

<p><strong>Once I sign up, what do I do now?</strong> Once you’ve signed up for the Alumni Association, your next step should be to join the <a href="https://ssdp.nationbuilder.com/alumni_supporter">Sensible Society</a> (if you’re not already a member). Once those two things are taken care of, you get to begin the fun part! An SSDP staff member will review your information and be in touch to confirm your membership. But you don’t need to wait for that confirmation to start engaging with students and alumni. Here are some suggested activities for SSDP alumni:</p>

<ul>
<li><span style="font-weight: 400;">become an</span> <a href="http://ssdp.org/alumni/mentors/"><span style="font-weight: 400;">SSDP Mentor</span></a></li>
<li><span style="font-weight: 400;">host a networking or fundraising event</span></li>
<li><span style="font-weight: 400;">revive a defunct chapter, local or alma mater</span></li>
<li><span style="font-weight: 400;">provide in-person support to an active SSDP chapter</span></li>
<li><span style="font-weight: 400;">recruit a new, non-alumnus</span> <a href="http://ssdp.nationbuilder.com/sensible_society"><span style="font-weight: 400;">Sensible Society</span></a> <span style="font-weight: 400;">member</span></li>
<li><span style="font-weight: 400;">provide online/phone support to an active SSDP chapter</span></li>
<li><span style="font-weight: 400;">recruit a new member to the Alumni Association</span></li>
<li><span style="font-weight: 400;">contribute to a national or regional SSDP</span> <a href="http://ssdp.org/events"><span style="font-weight: 400;">event</span></a><span style="font-weight: 400;">, i.e. volunteer on-site, help with planning, present, or donate</span></li>
<li><span style="font-weight: 400;">attend a national or regional SSDP event</span></li>
<li><span style="font-weight: 400;">participate in local, state, or federal policy change</span> <em><span style="font-weight: 400;">(</span></em><span style="font-weight: 400;">i.e. meet with an elected official about drug policy</span>_<span style="font-weight: 400;">,</span> <em><span style="font-weight: 400;">send email to elected official through online action center</span></em><span style="font-weight: 400;">)</span>_</li>
<li><span style="font-weight: 400;">submit content for the SSDP website or blog</span></li>
<li><span style="font-weight: 400;">find and share old SSDP photos, artifacts</span></li>
<li><span style="font-weight: 400;">help us make progress on our</span> <a href="https://ssdp.org/strategy/"><span style="font-weight: 400;">organizational objectives</span></a></li>
</ul>

<p>These are intended to provide you with options, not an exhaustive list of what you can do. The intention is for members of the Alumni Association to be responsible for determining their own activities, goals, and priorities. So, in short, in response to the question about what you should do next after joining, the answer is you should get to work on engaging yourself in whatever way makes sense for you.</p>

<p><strong>Want to find out how your alma mater chapter is doing?</strong></p>

<p>Reach out to them.</p>

<p><strong>Have a great idea for an SSDP alumni networking event?</strong></p>

<p>Start planning it.</p>

<p><strong>Interested in attending a chapter meeting near you?</strong></p>

<p>Get in touch with the local chapter leader or ask one of our Outreach Coordinators for an introduction.</p>

<p><strong>Want to help with regional conference planning?</strong></p>

<p>Reach out to the Outreach Coordinator for that region.</p>

<p><strong>Interested in writing a blog post?</strong></p>

<p>Start typing.</p>

<p><strong>Want to help grow the Alumni Association?</strong></p>

<p>Help spread the word on social media and through reaching out directly to those you know. Have other ideas for activities/projects? <a href="mailto:stacia@ssdp.org">Let us know</a>!</p></div>
