<div class="container">


<h1 id="alumni-members">Alumni Members</h1>

<p>This list includes all current members of the <a href="http://ssdp.org/alumni">SSDP Alumni Association</a>. Years indicate each member’s “SSDP Class of” year, meaning the first year they got involved with us. Cities in parentheses indicate where each member currently resides.</p>

<p><em><strong>For any edits, errors, or updates to this list, please contact <a href="mailto:stacia@ssdp.org">Stacia Cosner</a>.</strong></em></p>

<h2 id="heartland-region">Heartland Region</h2>

<p><strong>Gunnar Aas ’15</strong> <em>Hamline University</em> (Saint Paul, MN)</p>

<p><strong>Allison Holmes ’13</strong> <em>University of Nebraska Omaha</em> (Omaha, NE)</p>

<p><strong>Sarah Merrigan ’13</strong> <em>University of Nebraska Omaha</em> (Omaha, NE)</p>

<p><strong>Reid Murdoch ’13</strong> <em>University of Michigan Law School</em> (Lincoln, NE)</p>

<p><strong>Amber Langston ’02</strong> <em>University of Missouri Columbia</em> (Kansas City, MO)</p>

<h2 id="international-region">International Region</h2>

<p><strong>Héctor Joel Anaya Segura ’12</strong> <em>Universidad Nacional Autónoma de Mexico<span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Estudiantes por una Política Sensata de Drogas México&quot;}" data-sheets-userformat="{&quot;2&quot;:4225,&quot;3&quot;:[null,0],&quot;10&quot;:2,&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}"> (Mexico City, MX)</span></em></p>

<p><strong>Gustavo Monraz ’10</strong> <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Universidad de Guadalajara&quot;}" data-sheets-userformat="{&quot;2&quot;:37377,&quot;3&quot;:[null,0],&quot;12&quot;:0,&quot;15&quot;:&quot;Open Sans&quot;,&quot;18&quot;:1}"><em>Universidad de Guadalajara</em> (Zapopan, MX)</span></p>

<h2 id="mid-atlantic-region">Mid-Atlantic Region</h2>

<p><strong>Jake Agliata ’11</strong> <em>Dickinson College</em> (Washington, DC)</p>

<p><strong>Anousheh Bakhti-Suroosh ’14</strong> <em>University of Virginia</em> (Charlottesville, VA)</p>

<p><strong>Kate Bell ’02</strong> <em>College of William &amp; Mary</em> (Washington, DC)</p>

<p><strong>David Borden ’98</strong> <em>Honorary</em> (Washington, DC)</p>

<p><strong>Zachary Brown ’08</strong> <em>University of Maryland</em> (Bamako, Mali)</p>

<p><strong>Thomas Carpenter ’15</strong> <em>University of Tennessee Knoxville</em> (Washington, DC)</p>

<p><strong>Scott Cecil ’10</strong> <em>Northern Arizona University</em> (Washington, DC)</p>

<p><strong>Onyx Em ’12</strong> <em>Virginia Tech</em> (Washington, DC)</p>

<p><strong>Colin Fitzgibbon ’11</strong> <em>University of Miami</em> (Mclean, VA)</p>

<p><strong>Kyle Gentle ’14</strong> <em>Virginia Tech</em> (Blacksburg, VA)</p>

<p><strong>Casey Given ’10</strong> <em>University of California, Berkeley</em> (Washington, DC)</p>

<p><strong>Brian Gralnick ’99</strong> <em>George Washington University</em> (Elkins Park, PA)</p>

<p><strong>Miranda Gottlieb ’15</strong> <em>University of Tennessee Knoxville</em> (Washington, DC)</p>

<p><strong>Shawn Heller ’98</strong> <em>George Washington University</em> (Washington, DC)</p>

<p><strong>Mikayla Hellwich ’10</strong> <em>University of Maryland</em> (Washington, DC)</p>

<p><strong>Gwen Hipolit ’08</strong> <em>Kent State University</em> (Pittsburgh, PA)</p>

<p><strong>Amos Irwin ’03</strong> <em>Amherst College</em> (Washington, DC)</p>

<p><strong>Morgan Lesko ’02</strong> <em>University of Maryland</em> (Washington, DC)</p>

<p><strong>Mike Liszewski ’07</strong> <em>University of the District of Columbia School of Law</em> (Washington, DC)</p>

<p><strong>Kris Lotlikar ’98</strong> <em>Rochester Institute of Technology</em> (Olney, MD)</p>

<p><strong>Sam McBee ’11</strong> <em>American University</em> (Washington, DC)</p>

<p><strong>Aria Mildice ’14</strong> <em>George Washington University</em> (Washington, DC)</p>

<p><strong>Michelle Miller ’07</strong> <em>University of Maryland</em> (Silver Spring, MD)</p>

<p><strong>Heather Ness ’07</strong> <em>University of Maryland</em> (Washington, DC)</p>

<p><strong>Bob Nichols ’05</strong> <em>Georgetown University Law Center</em> (Washington, DC)</p>

<p><strong>Lauren Padgett ’13</strong> <em>HONORARY</em> (Washington, DC)</p>

<p><strong>Christina Pickeral ’08</strong> <em>University of Maryland</em> (Washington, DC)</p>

<p><strong>Hannah Procell ’15</strong> <em>New College of Florida</em> (Washington, DC)</p>

<p><strong>Julie Roberts ’10</strong> <em>Northeastern University School of Law</em> (Shepherdstown, WV)</p>

<p><strong>Nick Rosenberg ’11</strong> <em>University of Maryland</em> (Edmonston, MD)</p>

<p><strong>Clark Ruper ’05</strong> <em>University of Michigan</em> (Washington, DC)</p>

<p><strong>Hirbod Sajjadi ’14</strong> _ University of Maryland_ (Mclean, VA)</p>

<p><strong>Khalil Smith ’15</strong> <em>University of Akron</em> (Silver Spring, MD)</p>

<p><strong>Edward Spriggs ’07</strong> <em>University of Maryland</em> (Brookeville, MD)</p>

<p><strong>Eric Sterling ’98</strong> <em>HONORARY</em> (Silver Spring, MD)</p>

<p><strong>Sawyer Wilkins ’14</strong> <em>Virginia Commonwealth University</em> (Richmond, VA)</p>

<p><strong>Aurora Wetherill ’13</strong> <em>Dickinson College</em> (Newtown Square, PA)</p>

<p><strong>Jackson Zyontz ’14</strong> <em>Dickinson College</em> (Middleburg, PA)</p>

<h2 id="mountain-region">Mountain Region</h2>

<p><strong>Paul Accola ’14</strong> <em>University of Colorado Colorado Springs</em> (Colorado Springs, CO)</p>

<p><strong>Polina Ash ’10</strong> <em>University of Colorado Colorado Springs</em> (Montreal, Quebec)</p>

<p><strong>Diane Byrne ’12</strong> <em>University of Colorado Colorado Springs</em> (Denver, CO)</p>

<p><strong>Kevin Cheney ’12</strong> <em>University of Colorado School of Law</em> (Broomfield, CO)</p>

<p><strong>Meral Cooper ’11</strong> <em>University of Colorado Colorado Springs</em> (Colorado Springs, CO)</p>

<p><strong>John Decker ’05</strong> <em>University of Maryland</em> (Denver, CO)</p>

<p><strong>Brett Engle ’10</strong> <em>University of Colorado Denver</em> (Arvada, CO)</p>

<p><strong>Joey Gallagher ’13</strong> <em>University of Iowa</em> (Denver, CO)</p>

<p><strong>Jonathan Gaskill ’15</strong> <em>University of Rhode Island</em> (Colorado Springs, CO)</p>

<p><strong>Graham Gerritsen ’12</strong> <em>University of Texas</em> (Boulder, CO)</p>

<p><strong>Brooke Gilbert ’09</strong> <em>Virginia Commonwealth University</em> (Denver, CO)</p>

<p><strong>Brian Gilbert ’09</strong> <em>Virginia Commonwealth University</em> (Denver, CO)</p>

<p><strong>Nicola Giudice ’08</strong> <em>University of Massachusetts Boston</em> (Denver, CO)</p>

<p><strong>Kat Humphries ’10</strong> <em>College of Charleston</em> (Denver, CO)</p>

<p><strong>Adam Hurter ’99</strong> <em>Wesleyan University</em> (Boulder, CO)</p>

<p><strong>Clayton Ickes ’15</strong> <em>University of Colorado Boulder</em> (Boulder, CO)</p>

<p><strong>Kara Janowsky ’09</strong> <em>University of Colorado at Boulder</em> (Boulder, CO)</p>

<p><strong>Joshua Kappel ’05</strong> <em>Truman State University</em> (Denver, CO)</p>

<p><strong>Kristin Karas ’15</strong> <em>East Carolina University</em> (Denver, CO)</p>

<p><strong>Jessica Knight ’09</strong> <em>University of Cincinnati</em> (Sparks, NV)</p>

<p><strong>Matt Kotin ’14</strong> <em>University of Colorado Boulder</em> (Westminster, CO)</p>

<p><strong>Andrew Livingston ’09</strong> <em>Colgate University</em> (Denver, CO)</p>

<p><strong>Madalyn McElwain ’12</strong>  <span data-sheets-value="[null,2,&quot;University of Denver Sturm College of Law&quot;]" data-sheets-userformat="[null,null,33665,[null,0],null,null,null,null,null,null,2,0,0,null,null,null,null,null,1]"><em>University of Denver Sturm College of Law</em> (Denver, CO)</span></p>

<p><strong>Luis Montoya ’16</strong> Florida International University (Denver, CO)</p>

<p><strong>Christian Opitz ’09</strong> <em>Black Hills State University</em> (Loveland, CO)</p>

<p><strong>Ismael Perez ’16</strong> <em>University of Central Florida</em> (Denver, CO)</p>

<p><strong>Emmett Reistroffer ’09</strong> <em>HONORARY</em> (Englewood, CO)</p>

<p><strong>Thom Silverstein ’05</strong> <em>College of William and Mary</em> (Washington, DC)</p>

<p><strong>Mark Slaugh ’08</strong> <em>University of Colorado Colorado Springs</em> (Colorado Springs, CO)</p>

<p><strong>Lauren Snow ’13</strong> <em>University of Denver Sturm College of Law</em> (Denver, CO)</p>

<p><strong>Drew Stromberg ’09</strong> <em>West Virginia University</em> (Denver, CO)</p>

<p><strong>Chris Wallis ’07</strong> <em>Kent State University</em> (Denver, CO)</p>

<p><strong>Jake Warnke ’15</strong> <em>Colorado School of Mines</em> (Golden, CO)</p>

<p><strong>Tyler J. Williams ’11</strong> <em>University of Colorado Boulder</em> (Denver, CO)</p>

<p><strong>Tyler Williams ’11</strong> <em>University of Connecticut</em> (Denver, CO)</p>

<p><strong>Genevieve Wiley ’10</strong> <em>West Chester University</em> (Allentown, PA)</p>

<p><strong>Rachelle Yeung ’11</strong> <em>University of Colorado School of Law</em> (Denver, CO)</p>

<h2 id="midwest-region">Midwest Region</h2>

<p><strong>Akemi Almeida ’16</strong> <em>DePaul University</em> (Carpentersville, IL)</p>

<p><strong>Anonymous ’14</strong> (Ashland, WI)</p>

<p><strong>Randon Davis ’16</strong> <em>Kent State University</em> (Kent, OH)</p>

<p><strong>Vilmarie Fraguada Narloch, PsyD ’09</strong> <em>Roosevelt University</em> (Chicago, IL)</p>

<p><strong>Ryan Haeseley ’01</strong> <em>Earlham College</em> (Amelia, OH)</p>

<p><strong>Alexandria Haimbaugh ’12</strong> <em>University of Michigan</em> (Ann Arbor, MI)</p>

<p><strong>Erik Haslinger ’08</strong> <em>Northern Illinois University</em> (Chicago, IL)</p>

<p><strong>Amy Hildebrand ’14</strong> <em>DePaul University</em> (Chicago, IL)</p>

<p><strong>Brian Kardell ’13</strong> <em>University of Michigan</em> (East Lansing, MI)</p>

<p><strong>Adam Koltun ’06</strong> (Chicago, IL)</p>

<p><strong>Daniel Hurwitz ’12</strong> <em>Northwestern University</em> (Evanston, IL)</p>

<p><strong>George Pappas ’01</strong> <em>University of Iowa</em> (Lombard, IL)</p>

<p><strong>Alison Park Grimmer ’06</strong> <em>Roosevelt University</em> (Chicago, IL)</p>

<p><strong>Rory McPeak ’15</strong> <em>Loyola University Chicago</em> (Chicago, IL)</p>

<p><strong>Samantha Melius ’15</strong> <em>Kent State University</em> (Kent, OH)</p>

<p><strong>David Mora ’14</strong> <em>Howard University School of Law</em> (Detroit, MI)</p>

<p><strong>Jeremy Orbach ’10</strong> <em>Northern Illinois University</em> (Skokie, IL)</p>

<p><strong>Sahana Rajan ’10</strong> <em>University of Michigan</em> (Geneva, IL)</p>

<p><strong>Spencer Rudnick ’14</strong> <em>Cornell College</em> (Ann Arbor, MI)</p>

<p><strong>Sven Rundman ’16</strong> <em>University of Tennessee Knoxville</em> (Kent, OH)</p>

<p><strong>Devin Samuels ’10</strong> <em>University of Connecticut</em> (Detroit, MI)</p>

<p><strong>Rex Tai ’12</strong> <em>Northwestern University</em> (Evanston, IL)</p>

<p><strong>Murphy Van Sparrentak ’10</strong> <em>University of Michigan</em> (Ann Arbor, MI)</p>

<p><strong>Stuart VandenBrink ’09</strong> <em>University of Michigan</em> (Ann Arbor, MI)</p>

<p><strong>Nicholas Zettell ’09</strong> <em>University of Michigan</em> (Hamtramck, MI)</p>

<p><strong>Luke Zona ’14</strong> <em>Bowling Green State University</em> (Toledo, OH)</p>

<h2 id="northeast-region">Northeast Region</h2>

<p><strong>Christopher Albach ’08</strong> <em>SUNY New Paltz</em> (Greenlawn, NY)</p>

<p><strong>Jessica Altuch ’16</strong> <em>University of Rhode Island</em> (Port Washington, NY)</p>

<p><strong>Thomas Angell ’00</strong> <em>University of Rhode Island</em> (New York, NY)</p>

<p><strong>Sara Arnold ’11</strong> <em>HONORARY</em> (Clinton, MA)</p>

<p><strong>Emma Bijou ’14</strong> <em>Binghamton University</em> (Pawling, NY)</p>

<p><strong>Sabrina Bode ’13</strong> <em>SUNY New Paltz</em> (New York, NY)</p>

<p><strong>Gregory Bruno ’12</strong> <em>SUNY New Paltz</em> (New Paltz, NY)</p>

<p><strong>Eric Casey ’10</strong> <em>University of Rhode Island</em> (Malborough, MA)</p>

<p><strong>Ryan Cassidy ’09</strong> <em>Northeastern University</em> (Boston, MA)</p>

<p><strong>Haley Cedarholm ’14</strong> <em>University of Rhode Island</em> (Narragansett, RI)</p>

<p><strong>Jess Cochrane ’12</strong> <em>Northeastern University School of Law</em> (Boston, MA)</p>

<p><strong>Emily Cotter ’11</strong> <em>University of Rhode Island</em> (South Kingston, RI)</p>

<p><strong>Brian Coughlin ’10</strong> <em>Boston University</em> (Brighton, MA)</p>

<p><strong>Joe Dahlstrom ’10</strong> <em>New York University</em> (Ridgewood, NY)</p>

<p><strong>Jag Davies ’01</strong> <em>New College of Florida</em> (New York, NY)</p>

<p><strong>Shannon Davis ’15</strong> <em>University of Rhode Island</em> (Narragansett, RI)</p>

<p><strong>Nicole Doherty ’18</strong> <em>University of Massachusetts Boston</em> (Brookline, MA)</p>

<p><strong>Hilary Dulin ’08</strong> <em>Northeastern University</em> (Allston, MA)</p>

<p><strong>Kelly Ebbert ’15</strong> <em>University of Rhode Island</em> (Kingston, RI)</p>

<p><strong>Kat Fedorchak ’17</strong> <em>Occidental College</em> (Hamden, CT)</p>

<p><strong>Gennady Forrest ’09</strong> <em>Northeastern University</em> (Pawtucket, RI)</p>

<p><strong>Kevin Franciotti ’06</strong> <em>Northeastern University</em> (New York, NY)</p>

<p><strong>Evan Fulton ’11</strong> <em>University of Connecticut</em> (Willimantic, CT)</p>

<p><strong>James Given ’12</strong> <em>University of Rhode Island</em> (Carolina, RI)</p>

<p><strong>Dan Goldman ’99</strong> <em>University of Wisconsin Madison</em> (New York, NY)</p>

<p><strong>Shea Gunther ’97</strong> <em>Rochester Institute of Technology</em> (Portland, ME)</p>

<p><strong>Robert Hofmann ’16</strong> <em>SUNY New Paltz</em> (Providence, RI)</p>

<p><strong>Stephanie Izquieta ’13</strong> <em>Binghamton University</em> (East Elmhurst, NY)</p>

<p><strong>Jennifer Janichek-Krane ’03</strong> <em>Roosevelt University</em> (Boston, MA)</p>

<p><strong>Daniel Katz ’13</strong> <em>University of Connecticut</em> (Rocky Hill, CT)</p>

<p><strong>Nick (Ransom) Kennedy ’11</strong> <em>University of Connecticut</em> (Storrs, CT)</p>

<p><strong>Kris Krane ’98</strong> <em>American University</em> (Boston, MA)</p>

<p><strong>Sam Land ’15</strong> <em>SUNY Purchase</em> (New York, NY)</p>

<p><strong>Alexander Lekhtman ’15</strong> <em>New York University</em> (New York, NY)</p>

<p><strong>Brandon Levey ’09</strong> <em>University of Maryland</em> (Cambridge, MA)</p>

<p><strong>Dan M. ’07</strong> <em>Kalamazoo College</em> (Boston, MA)</p>

<p><strong>Oriana Mayorga ’13</strong> <em>Fordham University</em> (New York, NY)</p>

<p><strong>Dan MacCombie ’04</strong> <em>Brown University</em> (Brooklyn, NY)</p>

<p><strong>Kayla MacEachern ’15</strong> <em>University of Rhode Island</em> (Narragansett, RI)</p>

<p><strong>Nick Murray ’10</strong> <em>University of New Hampshire</em> (Portland, ME)</p>

<p><strong>Evan Nison ’09</strong> <em>Ithaca College</em> (East Brunswick, NJ)</p>

<p><strong>Kevin Oliveira ’10</strong> <em>University of Connecticut</em> (Manchester, CT)</p>

<p><strong>Ericka Persson ’12</strong> <em>New York University</em> (New York, NY)</p>

<p><strong>Lauren Parasconda ’14</strong> <em>SUNY Albany</em> (Staten Island, NY)</p>

<p><strong>Cedar R</strong><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Robideaux&quot;}" data-sheets-userformat="{&quot;2&quot;:4225,&quot;3&quot;:[null,0],&quot;10&quot;:2,&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}"><strong>obideaux ’14</strong> <em>Massachusetts College of Liberal Arts</em> (Amherst, MA)</span></p>

<p><strong>Amy Romanello ’16</strong> <em>Northeastern University</em> (Boston, MA)</p>

<p><strong>Andi Roets ’14</strong> <em>University of Connecticut</em> (Ellington, CT)</p>

<p><strong>Avi Scher ’09</strong> <em>Rutgers University</em> (New York, NY)</p>

<p><strong>Shaleen Title ’02</strong> <em>University of Illinois at Urbana-Champaign</em> (Revere, MA)</p>

<p><strong>Sam Tracy ’09</strong> <em>University of Connecticut</em> (Boston, MA)</p>

<p><strong>Lauren Traitz ’10</strong> <em>Tufts University</em> (Somerville, MA)</p>

<p><strong>Emma Tuttleman-Kriegler ’13</strong> <em>Tulane University</em> (Brooklyn, NY)</p>

<p><strong>Valerie Vande Panne ’99</strong> <em>Honorary</em> (Cambridge, MA)</p>

<p><strong>Karen Walker ’15</strong> <em>Binghamton University</em> (Goshen, NY)</p>

<p><strong>Rachel Wissner ’11</strong> <em>SUNY New Paltz</em> (New Paltz, NY)</p>

<p><strong>Yi Wu ’08</strong> <em>Boston University</em> (New York, NY)</p>

<p><strong>Brendan Zarkower ’14</strong> <em>Binghamton University</em> (New York, NY)</p>

<h2 id="pacific-region">Pacific Region</h2>

<p><strong>Irina Alexander ’07</strong> <em>University of Maryland</em> (Oakland, CA)</p>

<p><strong>Ismail Ali ’13</strong> <em>University of California Berkeley School of Law</em> (El Cerrito, CA)</p>

<p><strong>Matt Atwood ’99</strong> <em>Loyola University Chicago</em> (Oakland, CA)</p>

<p><strong>Marc Brandl ’98</strong> <em>American University</em> (San Diego, CA)</p>

<p><strong>Alex Brizicky ’08</strong> <em>The Art Institute of Boston</em> (Oakland, CA)</p>

<p><strong>Sam Chapman ’09</strong> <em>University of Oregon</em> (Portland, OR)</p>

<p><strong>Jeffrey Chen ’16</strong> <em>University of California Los Angeles</em> (Los Angeles, CA)</p>

<p><strong>Sarah Clark ’01</strong> <em>Ohio State University</em> (Oakland, CA)</p>

<p><strong>Mitchell Colbert ’10</strong> <em>San Jose State University</em> (Oakland, CA)</p>

<p><strong>Stacia Cosner ’05</strong> <em>University of Maryland</em> (Oakland, CA)</p>

<p><strong>Troy Dayton ’99</strong> <em>American University</em> (Oakland, CA)</p>

<p><strong>Jimi Devine ’05</strong> <em>Franklin Pierce University</em> (Oakland, CA)</p>

<p><strong>Sarah Duff ’01</strong> <em>University of Missouri-Columbia</em> (Portland, OR)</p>

<p><strong>Alec Foster ’10</strong> <em>New York University</em> (San Francisco, CA)</p>

<p><strong>Daniel Freire ’14</strong> <em>University of Southern California</em> (Los Angeles, CA)</p>

<p><strong>Marisa Garcia ’00</strong> <em>California State University Fullerton</em> (Whittier, CA)</p>

<p><strong>Eric Gudz ’14</strong> <em>University of California Davis</em> (Davis, CA)</p>

<p><strong>Katrina Haffner ’13</strong> <em>Western Washington University</em> (Bellingham, WA)</p>

<p><strong>Richard Hartnell ’16</strong> University of California Santa Cruz (Oakland, CA)</p>

<p><strong>Kandice Hawes ’10</strong> <em>California State University Fullerton</em> (Lake Forest, CA)</p>

<p><strong>Randy Hencken ’05</strong> <em>San Diego State University</em> (Oakland, CA)</p>

<p><strong>Eric Hogensen ’99</strong> <em>University of Wisconsin-Madison</em> (Pasadena, CA)</p>

<p><strong>Ty Hranac ’17</strong> <em>Occidental College</em> (Seattle, WA)</p>

<p><strong>Anthony Johnson ’01</strong> <em>University of Missouri-Columbia</em> (Portland, OR)</p>

<p><strong>Cypress Nick Kappeyne ’08</strong> <em>Reed College</em> (Eugene, OR)</p>

<p><strong>Justin Kander ’09</strong> <em>University of Maryland</em> (Bodega Bay, CA)</p>

<p><strong>Alex Kreit ’98</strong> <em>Hampshire College</em> (San Diego, CA)</p>

<p><strong>Nick Lau ’10</strong> <em>University of California-Merced</em> (San Francisco, CA)</p>

<p><strong>Alex L. ’08</strong> <em>College of William and Mary</em> (Davis, CA)</p>

<p><strong>Sean Luse ’00</strong> <em>Ohio State University</em> (Oakland, CA)</p>

<p><strong>Rishi Malhotra ’08</strong> <em>University of California Berkeley</em> (San Francisco, CA)</p>

<p><strong>Lauren Mendelsohn ’09</strong> <em>University of California Irvine School of Law &amp; University of Maryland</em> (Long Beach, CA)</p>

<p><strong>Ben Mossbarger ’06</strong> <em>Brown University</em> (San Francisco, CA)</p>

<p><strong>Leyla Palacios ’13</strong> <em>University of Texas at El Paso</em> (Oakland, CA)</p>

<p><strong>A. Kathryn Parker ’06</strong> <em>North Carolina State University</em> (Oakland, CA)</p>

<p><strong>Matt Peevler ’10</strong> <em>University of California Berkeley</em> (Clayton, CA)</p>

<p><strong>Chris Pezza ’03</strong> <em>Front Range Community College</em> (San Francisco, CA)</p>

<p><strong>Victor Pinho ’02</strong> <em>University of Maryland</em> (Castro Valley, CA)</p>

<p><strong>Audrey Reedy ’17</strong> <em>Chapman University</em> (Orange, CA)</p>

<p><strong>Amanda Reiman ’98</strong> <em>University of California Berkeley</em> (Oakland, CA)</p>

<p><strong>Gabe Rosales ’15</strong> <em>University of California Irvine</em> (Dana Point, CA)</p>

<p><strong>Kellen Russionello ’10</strong> <em>George Washington University Law School</em> (San Diego, CA)</p>

<p><strong>Mario Sanchez ’15</strong> <em>California State University Long Beach</em> (Huntington Beach, CA)</p>

<p><strong>Zoe Schreiber ’10</strong> <em>Mills College</em> (Oakland, CA)</p>

<p><strong>Danielle Schumacher ’01</strong> <em>University of Illinois Urbana-Champaign</em> (El Cerrito, CA)</p>

<p><strong>Bradley Steinman ’11</strong> <em>Lewis and Clark Law School</em> (Portland, OR)</p>

<p><strong>Veronica Stetter ’10</strong> <em>San Diego State University</em> (San Diego, CA)</p>

<p><strong>Hannah Stitt ’12</strong> <em>UC Hastings College of the Law</em> (San Francisco, CA)</p>

<p><strong>Katie Stone ’09</strong> <em>University of California Davis</em> (Davis, CA)</p>

<p><strong>Jesse Stout ’02</strong> <em>UC Hastings College of the Law</em> (San Francisco, CA)</p>

<p><strong>Trevor Stutz ’03</strong> <em>Brown University</em> (Los Angeles, CA)</p>

<p><strong>Elise Szabo ’14</strong> <em>Kent State University</em> (Emeryville, CA)</p>

<p><strong>Lalitha Thirunagari ’15</strong> <em>University of California Berkeley</em> (San Jose, CA)</p>

<p><strong>Scarlett Tovar ’14</strong> <em>University of California Davis</em> (Los Angeles, CA)</p>

<p><strong>Amanda Van Hoesen ’06</strong> <em>University of Maryland</em> (Castro Valley, CA)</p>

<p><strong>Crystal Varkalis ’10</strong> <em>University of Maryland</em> (Huntington Beach, CA)</p>

<p><strong>Allison Wilens ’11</strong> <em>Tufts University</em> (Santa Cruz, CA)</p>

<p><strong>Charles Witwer ’17</strong> <em>Occidental College</em> (Los Angeles, CA)</p>

<p><strong>Oliver Zerrudo ’15</strong> <em>University of California Berkeley</em> (San Francisco, CA)</p>

<h2 id="southeast-region">Southeast Region</h2>

<p><strong>Hana Arraya ’14</strong> <em>New College of Florida</em> (Miami, FL)</p>

<p><strong>Zane Bader ’15</strong> <em>University of Georgia</em> (Lawrenceville, GA)</p>

<p><strong>Nick Brandimarte ’15</strong> <em>Florida Atlantic University</em> (Ft. Pierce, FL)</p>

<p><strong>Chaz Colavito ’14</strong> <em>University of South Florida</em> (Tampa, FL)</p>

<p><strong>Michael-Devereux Bertin ’16</strong> <em>College of Charleston</em> (Charleston, SC)</p>

<p><strong>Erica Darragh ’14</strong> University of North Georgia (Flowery Branch, GA)</p>

<p><strong>Austin Davis ’16</strong> <em>Honorary</em> (Nashville, TN)</p>

<p><strong>Evan Eisenberg ’12</strong> <em>University of South Florida</em> (Tampa, FL)</p>

<p><strong>Kevin Garcia ’15</strong> <em>Florida International University</em> (Miami, FL)</p>

<p><strong>Jonathan Green ’11</strong> <em>Tufts University</em> (New Orleans, LA)</p>

<p><strong>KC Klens ’14</strong> <em>Eckerd College</em> (Sarasota, FL)</p>

<p><strong>Emily Longacre ’13</strong> <em>Kennesaw State University</em> (Marietta, GA)</p>

<p><strong>Stanley McAfee ’14</strong> <em>College of Charleston</em> (Charleston, SC)</p>

<p><strong>Daniel Miles ’14</strong> <em>College of Charleston</em> (Charleston, SC)</p>

<p><strong>Amanda Muller ’10</strong> <em>Florida State University</em> (Tallahassee, FL)</p>

<p><strong>Max Nielson ’14</strong> <em>College of Charleston</em> (CT)</p>

<p><strong>Chris Riker ’14</strong> <em>Barry University</em> (Miami, FL)</p>

<p><strong>Ryan Schmidtke ’15</strong> <em>East Carolina University</em> (Davidson, NC)</p>

<p><strong>Jessel Serrano ’12</strong> <em>Florida Gulf Coast University</em> (Fort Myers, FL)</p>

<p><strong>Petra Valle ’12</strong> <em>University of South Florida</em> (Pompano Beach, FL)</p>

<h2 id="southwest-region">Southwest Region</h2>

<p><strong>Cody Aragon ’16</strong> <em>University of New Mexico</em> (Albuquerque, NM)</p>

<p><strong>Matthew Aragon ’15</strong> <em>Volcano Vista High School</em> (Albuquerque, NM)</p>

<p><strong>Mason Burks ’17</strong> <em>University of New Mexico</em> (Albuquerque, NM)</p>

<p><strong>Monique Chavez ’14</strong> <em>University of New Mexico School of Law</em> (Albuquerque, NM)</p>

<p><strong>Stephen Duke ’09</strong> <em>University of Arkansas Fayetteville</em> (Austin, TX)</p>

<p><strong>Angel Garcia ’14</strong> <em>University of Texas of the Permian Basin</em> (Odessa, TX)</p>

<p><strong>Greg Hansch ’06</strong> <em>University of Maryland</em> (Austin, TX)</p>

<p><strong>Annie Huelefeld ’10</strong> <em>University of Cincinnati</em> (Oklahoma City, OK)</p>

<p><strong>Brett Phelps ’04</strong> <em>University of New Mexico School of Law</em> (Mora, NM)</p>

<p><strong>Billy Poer ’16</strong> <em>University of North Texas</em> (Denton, TX)</p>

<p><strong>Viviano Solano ’15</strong> <em>Rice University</em> (San Antonio, TX)</p>

<p><em>For any edits, errors, or updates to this list, please contact <a href="mailto:stacia@ssdp.org">Stacia Cosner</a>.</em></p>

<p><strong>Want to add your name to the list? <a href="https://ssdp.nationbuilder.com/alumni_supporter">Join the Alumni Association today</a>!</strong></p>

</div>
