<div class="container">


<h1 id="diversity-awareness-reflection-and-education-dare-project">Diversity Awareness Reflection and Education (DARE) Project</h1>

<p>SSDP DARE, formerly known as ORD (Outreach Recruitment Diversity) Committee is a collaborative committee comprised of Board members, students, alumni, and community members dedicated to broadening Students for Sensible Drug Policy’s (SSDP) base and increasing engagement with presently underrepresented perspectives. Since its founding in March 2011, DARE has taken on the challenges of strengthening diversity in all its forms within SSDP. DARE’s 2018-2019 <a href="https://ssdp.org/strategy/">objectives</a>:</p>

<ul>
<li><p>We will provide a welcoming, open, and safe space for all stakeholders, but especially our members, including those who stand in conflict on other issues, and work to ensure that a wide range of perspectives are represented.</p></li>

<li><p>We will actively seek out opportunities for collaboration with other organizations, including non-drug policy reform groups and those beyond our traditional allies.</p></li>

<li><p>The Diversity, Awareness, Reflection, and Education Committee will create and/or compile resources to assist chapters navigating diversity issues on their campuses, which staff will make accessible to chapters. DARE will assist staff in navigating diversity issues at the organizational level.</p></li>

<li><p>We will make every attempt to ensure that SSDP events, including conferences, provide a welcoming environment for current and potential members. We will strive to provide recognition of their lived experiences, i.e. first-hand accounts and impressions of life as a member of a marginalized group.</p></li>
</ul>

<p>DARE provides conference scholarships to students and community members from underrepresented and marginalized groups, and creates conference programming. <a href="https://ssdp.nationbuilder.com/donate_dare">Donate here to support our work</a>.</p>

<h4 id="how-can-i-get-involved">How can I get involved?</h4>

<p>Members of our student-led board of directors and a staff coordinator head the DARE committee, but all students and alumni of SSDP are welcome to get involved. SSDP DARE meets by conference call on the first Tuesday of every month at 8pm EST. Join our <a href="https://groups.google.com/a/ssdp.org/forum/?hl=en#!forum/dare">Google Group</a> or email our staff coordinator, Rachel Wissner (rachel@ssdp.org), to receive updates, share and discuss relevant news, plan the SSDP Mosaics, and connect with a network of students and alumni concerned with how the War on Drugs affects different communities. You can also <a href="https://ssdp.org/dare/mosaic/">contribute to the SSDP Mosaic</a>, a monthly publication that explores the intersections of the War on Drugs with issues of race, class, gender, sexuality, mental health, and more. You can read past issues of the Mosaic <a href="https://ssdp.org/blog/tag/monthly-mosaic/">here</a>.</p>

<h4 id="how-does-ssdp-dare-define-diversity">How does SSDP DARE define diversity?</h4>

<p>The War on Drugs affects all demographics. Diversity includes but is not limited to: Age, Background, Class or Socioeconomic Identification, Culture &amp; Traditions, Current Student or Non-Student Status, Disability or Differently-Abled Status, Diversity of Opinion, Employment Status, Ethnicity, Gender Identification, Ideology, Language, Mental Health, Moral Framework, Nationality, Physical Health, Political Affiliation, Pregnancy &amp; Parenting Status (pregnant women, custodial &amp; non-custodial parents, foster &amp; adoptive parents, legal guardians, etc), Primary Movement of Identification (formerly incarcerated, recovery, student, etc.), Race, Relationship Orientation &amp; Status, Relationship With Drugs/How One Self-Identifies in Relation to Drugs (drug user, non drug user, addict, recreational user, medical user, abstainer, in recovery, etc.), Religion, Sexual Identification, Stake in Reform, Subculture, and any other self-identifiers.</p>

</div>
